[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = https://github.com/oxson/dotbot-yay
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "gtk-theme-collections"]
	path = gtk-theme-collections
	url = git@github.com:addy-dclxvi/gtk-theme-collections.git
[submodule "tiny-theme-switcher"]
	path = theme-switcher/tiny-theme-switcher
	url = git@github.com:rizerphe/tiny-theme-switcher.git
