* {
    background:                  #3B425277;
    transparent:                 #00000000;
    lightbg:                     #434C5E;
    active:                      #8FBCBB;
    foreground:                  #D8DEE9;

    text-color: @foreground;
    border-color: @foreground;
    background-selected: @lightbg;
    text-active: @active;
}